@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

html {
    font-family: 'Anton SC';
    font-family: 'Arial', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'Anton SC';
    color: #000000;
    text-align: center;
    padding: 5% 0;
    font-size: clamp(1em, 3vw, 2em);
}

.subtitle {
    font-family: 'Anton SC';
    color: black;
    padding: 3%;
    font-size: clamp(1.2em, 1.6vw, 2.6em);
}

main{
    display: flex;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.info-list {
    font-family: 'Anton SC';
}

span {
    font-family: 'Anton SC';
}


.info-list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    font-size: clamp(1em, 1.5vw, 1.2em);
}

.info-list li {
    margin-bottom: 0.5rem;
    font-size: clamp(1.2em, 1.6vw, 2.6em);
}

.columns {
    padding: 2%;
}

.column {
    padding: 1rem;
}

.box {
    transition: all 0.3s ease;
}

.img- {
    transition: all 0.3s ease;
}

.cont-icon {
    margin: 8%
}

.title-principal {
    font-family: 'Anton SC';
    color: rgb(0, 0, 0) !important;
    font-size: clamp(2em, 5vw, 4em) !important;
    letter-spacing: 1px;
}

